.about2div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2divside{
    display: flex;
    flex-direction: column; 
}

.aboutdetails{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 20px;
}

.about1row{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
     background-color: rgb(240, 237, 237);
    padding: 45px;
    min-width: 200px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



.box p{
    font-size: 15px;
}